node_modules
dist
build
.turbo
.env
.env.local
*.log
.DS_Store
apps/api/prisma/migrations/**/migration_lock.toml
coverage
.idea
.vscode
apps/app/android
apps/app/ios
apps/app/.capacitor
playwright-report
test-results
